doctype html 

html(lang="en")
    head
        title Keyence Technical Test
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
        link(href="../styles/style.css" rel="stylesheet")
    body.bg-dark.text-white
        .container.py-3.px-4
            .row.text-center
                img.img-fluid.rounded.mx-auto(src="../img/js.png"
                alt="JavaScript"
                style='width : 35%')
                p.fs-1.fw-semibold Programming Languages
                input(
                    type='text'
                    id='input'
                    placeholder='e.g JavaScript'
                    class='form-control'
                    )
                .alert.alert-primary.min-width.mt-4
                    text Hint: Click on an item to edit.
            .container.py-1
                input(type='radio', name='view_list', value='row' onchange='renderView()')#row 
                label(for='row') View it as rows
                input(type='radio', name='view_list', value='column' onchange='renderView()')#column
                label(for='column') View it as columns
            
            
            .mx-auto.py-2.item-input
                div(id='output' class='row')
    script(src='../js/toDo.js')